# dependencies
node_modules

# logs
npm-debug.log
yarn-error.log

# Nuxt build
.nuxt

# Nuxt generate
dist

# Generate rss feed
src/static/feed.xml

# Pwa
sw.*

# Storybook static
storybook-static

# Storybook screenshot
__screenshots__
