$listItemMargin: 1.2em;
.marked {
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $font-round;
    color: $clr-black-d;
  }
  h2 {
    color: $clr-black-dd;
  }
  h3 {
    font-size: 1.5rem;
    position: relative;
    margin-top: 2rem;
    padding-bottom: 10px;
    font-weight: 400;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 7px;
      background: repeating-linear-gradient(
        -45deg,
        $clr-sub-l,
        $clr-sub-l,
        2px,
        $clr-white-ll 2px,
        $clr-white-ll 4px
      );
    }
  }
  h4 {
    margin-top: 2rem;
    font-size: 1.4rem;
  }
  & iframe {
    max-width: 100%;
  }
  & img,
  & .speakerdeck-wrapper {
    max-width: 500px;
    width: 100%;
  }

  & ul {
    padding-left: $listItemMargin;
    & li {
      position: relative;
      &:before {
        content: '▶';
        display: block;
        position: absolute;
        left: -$listItemMargin;
        color: $clr-sub2-ll;
      }
    }
  }

  blockquote {
    // Same as twitter widget
    padding: 20px 20px 11.6px;
    margin: 10px 0;
    border: 1px solid #e1e8ed;
    border-radius: 5px;
    background: #fff;
    & a {
      font-size: 14px;
      color: rgb(105, 120, 130);
    }
  }
  pre {
    overflow: auto;
    font-size: 0.9rem;
    color: $clr-black-l;
    background: $clr-white;
    padding: 1rem;
    margin: 1rem 0;
  }
}
