@import '~assets/css/_vars.scss';

$btn-clr-bg: $clr-white-ll !default;
$btn-clr-text: $clr-black-d !default;

& {
  background: $btn-clr-bg;
  color: $btn-clr-text;
  font-weight: 400;
  font-size: 1.1rem;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 3rem;
  margin: 0;
  padding: 0.7rem 1.6rem;
  border-radius: 1.5rem;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  user-select: none;
  text-decoration: none;

  svg {
    margin-right: 0.4rem;
  }
}
