$player-seekbar-bg-color: #ccc;
$player-seekbar-progress-color: #f00;
$player-seekbar-thumb-color: #f00;

$player-volume-bg-color: #ccc;
$player-volume-progress-color: #f00;
$player-volume-thumb-color: #fff;
$player-volume-thumb-border-color: #f00;
