@import '~assets/css/mixin/_mediaquery.scss';

/* CSS Grid Layout */
.app {
  display: grid;
  grid-template-areas: "header header header" "left body right" "left footer right";
  grid-template-columns: 1fr minmax(200px, 960px) 1fr;
  // grid-template-rows: 150px 1fr 30px;
  min-height: 100vh;
  &_header {
    grid-area: header;
  }
  &_body {
    grid-area: body;
    width: 100%;
    padding: 3.8rem 16px 0;
    @include mq() {
      padding: 3.8rem 0 0;
    }
  }
  &_footer {
    grid-area: footer;
  }
}
