.page-container {
  transition: all 0.2s cubic-bezier(0.55, 0, 0.1, 1);
  transition: none;
}
.page-enter-active,
.page-leave-active {
}
.page-enter,
.page-leave-active {
  opacity: 0;
}

.slide-left-enter,
.slide-right-leave-active,
.slide-left-leave-active,
.slide-right-enter {
  transition: all 0.4s ease-in;
  transition: none;
  opacity: 0;
}
.slide-left-enter,
.slide-right-leave-active {
  transform: translate(300px, 0);
}
.slide-left-leave-active,
.slide-right-enter {
  transform: translate(-300px, 0);
}
