@import '~assets/css/_vars.scss';

@font-face {
  font-family: 'Yu Gothic';
  src: local('Yu Gothic Medium');
  font-weight: 100;
}
@font-face {
  font-family: 'Yu Gothic';
  src: local('Yu Gothic Medium');
  font-weight: 200;
}
@font-face {
  font-family: 'Yu Gothic';
  src: local('Yu Gothic Medium');
  font-weight: 300;
}
@font-face {
  font-family: 'Yu Gothic';
  src: local('Yu Gothic Medium');
  font-weight: 400;
}
@font-face {
  font-family: 'Yu Gothic';
  src: local('Yu Gothic Bold');
  font-weight: bold;
}
@font-face {
  font-family: 'Helvetica Neue';
  src: local('Helvetica Neue Regular');
  font-weight: 100;
}
@font-face {
  font-family: 'Helvetica Neue';
  src: local('Helvetica Neue Regular');
  font-weight: 200;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', YuGothic, '游ゴシック Medium',
    YuGothicM, Verdana, Meiryo, sans-serif;
}
@media all and (-ms-high-contrast: none) {
  html {
    font-family: Verdana, Meiryo, sans-serif;
  }
}
@media all and (-ms-high-contrast: active) {
  html {
    font-family: Verdana, Meiryo, sans-serif;
  }
}

html,
body,
#__nuxt {
  height: 100%;
  min-height: 100%;
  font-size: 16px;
  font-weight: 400;
}
#__nuxt {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: underline;
  transition: 0.2s ease-out;

  &:hover {
    color: $clr-sub-l;
  }
}

body {
  line-height: 1.75;
  overflow-wrap: break-word;
  background: $clr-bg;
  color: $clr-black;
  text-align: justify;
  word-wrap: break-word;
  letter-spacing: 0.01em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0.6em;
  margin-bottom: 0.3em;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.8rem;
}
h3 {
  font-size: 1.2rem;
}
h4 {
  font-size: 1.2rem;
}
button {
  &:hover {
    cursor: pointer;
  }
}
small {
  color: $clr-black-l;
  font-size: 0.8rem;
}

// Prevent auto-zoom in input on iOS:
// https://stackoverflow.com/a/16255670
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select,
  textarea,
  input {
    font-size: 16px !important;
  }
}
